{% extends 'users/layout.html' %}
 {% block content %}
 {% load static %}

<br /><br>
<div class="container col-md">
    <div class="alert alert-dismissible alert-danger">
        <strong>Êtes vous</strong>
        <p class="alert-link">sûr de vouloir supprimer cet utilisateur ?</p>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <a href="/" class="btn btn-outline-warning">Annuler <i class="fas fa-lg fa-backspace"></i></a>
        <input type="submit" name="confirm" class="btn btn-outline-danger" />
    </form>
</div>
{% endblock %}
