{% extends 'users/layout.html' %} 
{% block content %}
{% load static %}
<br>
<div class="container">
<a href="/users" class="btn btn-outline-primary">Revenir <i class="fas fa-lg fa-backspace"></i></a>

<h2 class="text-center">Informations de l'Utilisateur</h2>

<ul class="list-group list-group-flush">
  <p class="lead"><li class="list-group-item">Prenom : {{user.prenom}}</li></p>
  <p class="lead"><li class="list-group-item">Nom : {{user.name}}</li></p>
  <p class="lead"><li class="list-group-item">Email : {{user.email}}</li></p>
  <p class="lead"><li class="list-group-item">Ville : {{user.city}}</li></p>
</ul>
<br /><br />
<a href="/users/editUser/{{user.id}}" class="btn btn-outline-success"
  >Modifier <i class="fas fa-lg fa-user-edit"></i>
</a>
<a
  href="/users/deleteUser/{{user.id}}"
  class="btn btn-outline-danger float-right"
  >Supprimer
  <i class="fas fa-lg fa-trash-alt"></i>
  </a>
</div>

{% endblock %}
