{% extends 'users/layout.html' %}
{% block content %}
{% load static %}
<!-- {% load users_extras %} -->


<div class="container">
    <div class="flex-row-fluid ml-lg-8">
        <!--begin::Card-->
        <div class="card card-custom gutter-bs">
            <br>
            <div class="card-header card-header-tabs-line">
                <div class="card-toolbar w-100">
                    
                    <div class="card-body d-flex flex-column bd-highlight mb-3 w-100 justify-content-center">
                        <div class="tab-content pt-5 mx-auto">
                            
                            <img src="{% static '/ar_pic.png' %}" width="450px"  class="pb-10" alt="">

                            {% for obj in lmots_obj %}
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 text-right col-form-label">Mot: </label>
                                <div class="col-lg-9 col-xl-6">
                                    {% if obj.nom %}
                                    <input class="form-control form-control-lg form-control-solid" type="text"
                                        value="{{ obj.nom  }}" disabled />
                                    {% elif obj.verbe %}
                                    <input class="form-control form-control-lg form-control-solid" type="text"
                                        value="{{ obj.verbe  }}" disabled />
                                    {% endif%}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 text-right col-form-label">Racine</label>
                                <div class="col-lg-9 col-xl-6">
                                    {% if obj.nom %}
                                    <input class="form-control form-control-lg form-control-solid" type="text"
                                        value="{{obj.racine_nom.rac}}" disabled />
                                    {% elif obj.verbe %}
                                    <input class="form-control form-control-lg form-control-solid" type="text"
                                        value="{{obj.racine_ver.rac}}" disabled />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 text-right col-form-label">Schème</label>
                                <div class="col-lg-9 col-xl-6">
                                    {% if obj.nom %}
                                    <input class="form-control form-control-lg form-control-solid" type="text"
                                        value="{{obj.scheme_nom.scheme}}" disabled />
                                    {% elif obj.verbe %}
                                    <input class="form-control form-control-lg form-control-solid" type="text"
                                        value="{{obj.scheme_ver.scheme}}" disabled />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 text-right col-form-label">Forme canonique</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="text" class="form-control form-control-lg form-control-solid"
                                            value="{{obj}}" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 text-right col-form-label">Nom/Verbe</label>
                                <div class="col-lg-9 col-xl-6">

                                    <!-- {% if obj.nom %}
                                    <select name="" id="">
                                        <option value="{{obj}}">كلمة</option>
                                    </select>
                                    {% endif %} -->
                                    <!-- <select style="width: 200px;height: 40px;direction: rtl; text-align-last:center;"
                                        class="form-select text-center" aria-label="Disabled select example" disabled>
                                        {% if obj.verbe %}
                                        <option value="{{obj}}">فعل</option>
                                        {% endif %}
                                        {% if obj.nom %}
                                        <option value="{{obj}}">كلمة</option>
                                        {% endif %}
                                    </select> -->
                                    {% if obj.nom %}
                                    <input type="text" class="form-control form-control-lg form-control-solid"
                                        value="كلمة" disabled />
                                    {% endif %}
                                    {% if obj.verbe %}
                                    <input type="text" class="form-control form-control-lg form-control-solid"
                                        value="فعل" disabled />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="separator separator-dashed"></div>
                            <!--begin::Heading-->
                        </div>
                        {% if forloop.last %}
                        <div class="center d-flex justify-content-center mt-7">
                            <ul class="pagination">
                                {% if lmots_obj.has_previous %}
                                <li class="page-item">
                                    <!-- <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo;</a> -->
                                    <a class="page-link" href="users/dict-arabe/?page=1">&laquo;</a>
                                </li>
                                <li class="page-item">
                                    <!-- <a class="page-link"
                                        href="{% my_url user_page_obj.previous_page_number 'page' request.GET.urlencode %}">السابق</a> -->
                                    <a class="page-link"
                                        href="users/dict-arabe/?page={{ lmots_obj.previous_page_number }}">&larr;</a>
                                </li>
                                {% endif %}
                                <li class="page-item">
                                    <a class="page-link">{{lmots_obj.number}}/{{lmots_obj.paginator.num_pages}}</a>
                                </li>
                                {% if lmots_obj.has_next %}

                                <li class="page-item">
                                    <!-- <a class="page-link"
                                        href="{% my_url user_page_obj.next_page_number 'page' request.GET.urlencode %}">التالي</a> -->
                                    <a class="page-link"
                                        href="users/dict-arabe/?page={{ lmots_obj.next_page_number }}">&rarr;</a>
                                </li>
                                <li class="page-item">
                                    <!-- <a class="page-link"
                                        href="{% my_url user_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&raquo;</a> -->
                                    <a class="page-link"
                                        href="users/dict-arabe/?page={{ lmots_obj.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <!--end::Tab Content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}