{% extends 'users/layout.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="container">
    <div class="row">
        <div class="col">
            <form action="{% url 'display' %}" method="GET">

                <div class="form-group col-sm-4 col-md-3">
                    <label for="text"> البحث عن الأفعال</label>
                    <br>
                    <br>
                    الأوزان
                    {% render_field ver_filter.form.scheme_ver class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    الجدور
                    {% render_field ver_filter.form.racine_ver class="form-control" %}
                </div>

                <input type="submit" class="btn btn-primary" value="إدخال">
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <label for="text"> قائمة الأفعال</label>
            {% for obj in verb_obj %}
            {% if obj.racine_ver.type_rac == 2 %}
            <div class="overlow-auto"> {{ obj.verbe }}</div>
            {{ obj.racine_ver.type_rac }}
            {% endif %}
            {% endfor%}
        </div>
    </div>
    <br>
    <br>
    <hr>
    <div class="row">
        <div class="col">
            <form action="{% url 'display' %}" method="GET">
                <div class="form-group col-sm-4 col-md-3">
                    <label for="text"> البحث عن الأسماء</label>
                    <br>
                    <br>
                    الأوزان
                    {% render_field nom_filter.form.scheme_nom cslass="form-control" %}
                    <hr>
                    {{ sch_filtered.form }}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    الجدور
                    {% render_field nom_filter.form.racine_nom class="form-control" %}
                </div>
                <input type="submit" class="btn btn-primary" value="إدخال">
            </form>
        </div>
    </div>
    <hr>
    <hr>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <label for="text"> قائمة الأسماء </label>
            {% for obj in nom_obj %}
            {{ obj.nom }}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}