{% extends 'users/layout.html' %} {% block content %}
{% load static %}

<div class="container">
  
<form action="" method="post">
  <div class="container">


  
  {% csrf_token %}
  <br />
  <div class="col-md">
    <h1 class="text-success" >Ajouter un Utilisateur</h1>
  </div>
  <div class="col-md-20">
    <div class="form-group">
      <label for="name">Nom : </label>
      <input type="text" name="name" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="name">Prenom : </label>
      <input type="text" name="prenom" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="email">Email : </label>
      <input type="text" name="email" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="city">Ville : </label>
      <input type="text" name="city" class="form-control" required />
    </div>
    <br />
    
    <div class="form-group">
      <button class="btn btn-success btn-lg" type="submit">
       Submit <i class="fas fa-save"></i>
      </button>
      <a href="/" class="btn btn-outline-warning btn-lg">Annuler <i class="fas fa-lg fa-backspace"></i></a>

    </div>
  </div>
</form></div>

{% endblock %}
