{% extends 'users/layout.html' %} 
{% block content %}
{% load static %}




<div class="container">
<div class="card card-custom gutter-b">
    <div class="container">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">Importer des fichiers à la base de donnée : </h3>
            </div>
        </div>
        <!--begin::Form-->
        <!-- multipart/form-data is necessary if the user will upload a file through the form -->
        <form method="POST" action="users/parse-excel/" enctype="multipart/form-data">
            {% csrf_token %}    
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">
                        Importer un fichier de type EXCEL <i class="far text-success fa-2x fa-file-excel"></i>
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="file" name="myfile" class="form-control-file form-control-lg">
                    </div>
                </div>
            </div>
                
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-light-primary mr-2">Submit</button>
                        <button type="reset" class="btn btn-primary">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <hr><hr>
        <br>
        <form method="POST" action="users/parse-txt/" enctype="multipart/form-data">
            {% csrf_token %}    
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">
                        Importer un fichier de type Text <i class="far text-primary fa-2x fa-file-alt"></i>
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="file" name="file_txt" class="form-control-file form-control-lg">
                    </div>
                </div>
            </div>
                
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-light-primary mr-2">Submit</button>
                        <button type="reset" class="btn btn-primary">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <hr><hr>
        <br>
        <form method="POST" action="users/parse-xml/" enctype="multipart/form-data">
            {% csrf_token %}    
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">
                        Importer un fichier de type XML <i class="far text-warning fa-2x fa-file-code"></i>
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input type="file" name="xml_file" class="form-control-file form-control-lg">
                    </div>
                </div>
            </div>
                
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-light-primary mr-2">Submit</button>
                        <button type="reset" class="btn btn-primary">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    </div>
    


{% endblock %}