{% extends 'users/layout.html' %} 
{% block content %}
<br />
<h3 class="text-left text-info">Search Users :</h3>
<form action="" method="get">
  {{myFilter.form}}
  <button class="btn btn-outline-info">
    Search <i class="fas fa-lg fa-search"></i>
  </button>
</form>
<br />
<h3 class="text-left text-success ">Users :</h3>

<div class="col-md-10">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">Ville</th>
        <th><a class="btn btn-block btn-outline-success" href="/users/registerUser"
          ><i class="fas fa-lg fa-user-plus"></i>
        </a></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr class="table-light">
        <th scope="row">{{user.id}}</th>
        <th scope="row">
          <a href="/users/details/{{user.id}}">{{ user.name }}</a>
        </th>
        <th>{{user.prenom}}</th>
        <th>{{user.email}}</th>
        <th>{{user.city}}</th>
        <th>
          <a href="/users/editUser/{{user.id}}" class="btn btn-outline-success"
            ><i class="fas fa-lg fa-user-edit"></i> </a
          ><a
            href="/users/deleteUser/{{user.id}}"
            class="btn btn-outline-danger float-right"
          >
            <i class="fas fa-lg fa-trash-alt"></i>
          </a>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
