{% extends 'users/layout.html' %}
{% block content %}
{% load static %}
{% load users_extras %}
{% load widget_tweaks %}

<div class="container">
    <div class="flex-row-fluid ml-lg-8">
        <!--begin::Card-->
        
        <div class="card card-custom gutter-bs">
          <!--Begin::Header-->
          <div class="container">
          <div class="card-toolbar">
            <br>
         <h3 class=" text-info">Chercher un Utilisateur :</h3>

            <form method="GET" action="{% url 'index' %}">


                <!-- ******************************************************* -->
                 <!-- ******************************************************* -->
                 <div class="form-group col-sm-4 col-md-3">
                    # : 
                    {% render_field filtered_qs.form.id class="form-control" %}
                  </div>
                  <div class="form-group col-sm-4 col-md-3">
                    Nom : 
                    {% render_field filtered_qs.form.name class="form-control" %}
                  </div>
                  <div class="form-group col-sm-4 col-md-3">
                    Prénom : 
                    {% render_field filtered_qs.form.prenom class="form-control" %}
                  </div>
                  <div class="form-group col-sm-4 col-md-3">
                    Ville : 
                    {% render_field filtered_qs.form.city class="form-control" %}
                  </div>
                  <br>
                    <button class="btn btn-lg btn-info">
                        Cherche <i class="fas fa-lg fa-search"></i>
                    </button>
                <a href="javascript: history.go(-1)" class="btn btn-outline-warning btn-lg">Annuler <i class="fas fa-lg fa-backspace"></i></a>
            </form>
    <div class="col-3 p-0 pt-5"></div>
</div>
{% endblock content %}