{% extends 'users/layout.html' %} 
{% block content %}
{% load static %}
<form method="GET" action="">

            
<!-- ******************************************************* -->
    <div class="form">
        {{filtered_qs.form}}
        <br><button class="btn btn-block btn-info">
            Cherche <i class="fas fa-lg fa-search"></i>
          </button>
    </div>
    <!-- <div>
    <label for="name">nom</label>
    <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="prenom">prenom</label>
        <input type="text" name="prenom" id="prenom">
        </div>
    <div>
        <label for="email">email</label>
        <input type="text" name="email" id="email">
    </div>
    <div>
        <label for="city">nom</label>
        <input type="text" name="city" id="city">
    </div> 
     -->
    <!-- <button type="submit" class="btn btn-block btn-info" value="press" > Chercher </button> -->
</form>
<br>

{% for user in user_page_obj %}
<div>
    <label for="name">nammeee </label>
    <input type="text" name="name" id="" value="{{user.name}}" disabled>
</div>
<div>
    <label for="prenom">prenom </label>
    <input type="text" name="prenom" id="" value="{{user.prenom}}" disabled>
</div>
<div>
    <label for="email">email</label>
    <input type="text" name="email" id="" value="{{user.email}}" disabled>
</div>
<div>
    <label for="city">city</label>
    <input type="text" name="city" id="" value="{{user.city}}" disabled>
</div>
{% endfor %}
{% endblock content %}