{% extends 'users/layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form action="{% url 'racines' %}" method="POST">
        {% csrf_token %}
        <!-- <label for="rac_s">Code: </label>
        <input type="text" name="id_rac" required> -->
        <label for="rac_s">Racine: </label>
        <input type="text" name="rac">
        <label for="rac_s">type: </label>
        <input type="text" name="type_rac">

        <button type="submit" class="btn btn-primary">valider</button>
        <a href="javascript: history.go(-1)" class="btn btn-outline-warning btn-lg">Annuler <i
                class="fas fa-lg fa-backspace"></i></a>
    </form>
</div>
{% endblock %}